.cards{
    border: 2px solid #ffcc30;
    border-radius: 10px;
}

.img{
    border-radius: 10px 10px 0 0;
}
.badge{
    top: 10px;
    right: 30px;
    font-size: 17px;
}
.content {
    padding: 10px;
  }